<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/styles.css">
    <title>Learn More</title>
</head>
<body>
    <!-- Header with Menu -->
    <div class="header">
        <div class="logo"><a href="index.html">
            <img src="https://raw.githubusercontent.com/Wasem1209/Phillip-/f0886852738c4bc8d4d99e1d626df32943600c21/file-tqkr9QmnljrHslWnQEcAFQRC.webp" alt="Logo" class="logo-image">
                </a>
        </div>
        <div class="site-title">
            <h1>Pasturio</h1>
            <h5>Agricultural Platform</h5>
            </div>
        <div class="menu-icon" onclick="toggleMenu()">☰</div>
        <div class="nav-menu" id="dropdownMenu">
            <ul>
                
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="learn-more.html">Learn More</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="faq.html">FAQ</a></li>
                <li class="register-btn"><a href="register.html">Register</a> / <a href="signin.html">Sign In</a></li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="main.js"></script>
    </body>
    </html>